if SHIELD_HORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Horne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HORNE_LEFT || SHIELD_HORNE_RIGHT

config ZMK_SPLIT
    default y

endif
